---
layout: default
---

<p class="sub-head">Welcome to the engineering blog of Wanelo, featuring technical tales of triumph, daring and woe. Sometimes cats. We are definitely hiring. Please email play AT wanelo.com if you're curious!</p>

<ul id="post-listing">
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="date">First posted on {{post.date |  date: "%A, %d %b %Y" }}
        {% if post.author %}
          by <a href="http://wanelo.com/{{post.author_username}}">{{post.author}}</a>
        {% endif %}
        </span>
        <br /><br />
        <blockquote class="excerpt">
           {{ post.excerpt }}
           <a class="read-more" href="{{ post.url }}"> &LongRightArrow; Full Post </a>
        </blockquote>

        <br />
    </li>
  {% endfor %}
</ul>

