/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* LAYOUT STYLES */
body {
    font-size: 1.1em;
    line-height: 1.5;
    background: #fafafa;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #424143;
}

a, a:visited, a:focus, a:active {
    color: #1997d4;
/*    font-family: 'Helvetiva-Neue', Helvetica, Arial, sans-serif; */
}


#navbar {
	overflow: hidden;
	bottom: 0px;
	width: 100%;
	background-color: #fff;
	height: 65px;
  border-bottom: 1px solid #DDDDDD;
}


#nav {
	text-align: center;
}

.nav-links {
	width: 225px;
	margin: 0 auto;
}

#navbar .nav-links a {
	font-family: 'Helvetiva-Neue', Helvetica, sans-serif;
	color: #6e6f72;
	text-transform: uppercase;
	font-size: 16px;
	margin-right: 60px;
	display: inline-block;
	padding: 23px 0px;
}

a#view-on-github {
	font-family: 'Helvetiva-Neue', Helvetica, sans-serif;
	color: #6e6f72;
	font-size: 15px;
}

.nav-links .home-active {
	color: #434143 !important;
	box-shadow: 0px -7px 0px #ee3473 inset;
}

.nav-links .jobs-active {
	color: #434143 !important;
	box-shadow: 0px -7px 0px #ee3473 inset;
}


#navbar .nav-container {
    height: 65px;
    width: 80%;
    margin: 0 auto;
    background: #fff url(../images/wanelo_engineering.png) left 0% center no-repeat;
    cursor: pointer;
}



header {
    width: 100%;
    padding: 40px 0 20px 0;
    overflow: hidden;
    background: #fafafa no-repeat center center;
}

header h1 {
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
    font-size: 23pt;
    font-weight: normal;
    line-height: 40px;
    color: #6d6b6e;
		text-align:center;
}

header h2 {
    letter-spacing: -1px;
    font-size: 24px;
    color: #aaa;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 30px;
}

div.author {
	margin-top: 10px;
	color: #777;
 	  text-align: center;
}

header div.author h2 {
	  display: inline-block;
	 	font-size: 14pt;
}

header h2.post-head {
    font-family: 'Helvetiva-Neue-Bold', Helvetica, Arial, sans-serif;
    font-size: 27px;
    text-align: right;
    letter-spacing: 1px;
    position: absolute;
    top: 6px;
    left: 40px;
    text-transform: uppercase;
}

p.sub-head {
    margin-top: 0px;
    color: #424143;
    font-size: 1.3em;
    margin-bottom: 50px;
}

#container {
    min-height: 595px;
}

.inner {
    width: 80%;
    margin: 0 auto;
}

#container .inner img {
    max-width: 100%;
    border: 1px solid #202020;
}

#downloads {
    position: absolute;
    right: 10%;
    top: 80px;
}

ul#post-listing {
    margin-left: 0;
}

ul#post-listing li {
    list-style-type: none;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
}

/*ul#post-listing li h2 {*/
    /*font-size: 1.4em;*/
/*}*/

a.button {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border-top: solid 1px #cbcbcb;
    border-left: solid 1px #b7b7b7;
    border-right: solid 1px #b7b7b7;
    border-bottom: solid 1px #b3b3b3;
    color: #303030;
    line-height: 25px;
    font-weight: bold;
    font-size: 15px;
    padding: 12px 8px 12px 8px;
    display: block;
    float: left;
    width: 179px;
    margin-right: 14px;
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* IE10+ */
    background: linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f2f2f2', GradientType=0); /* IE6-9 */
    -webkit-box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    box-shadow: 0px 1px 5px #e8e8e8;
}

a.button:hover {
    border-top: solid 1px #b7b7b7;
    border-left: solid 1px #b3b3b3;
    border-right: solid 1px #b3b3b3;
    border-bottom: solid 1px #b3b3b3;
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); /* IE10+ */
    background: linear-gradient(top, #fdfdfd 0%, #f6f6f6, 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f6f6f6', GradientType=0); /* IE6-9 */
}

a.button span {
    padding-left: 50px;
    display: block;
    height: 23px;
}

#download-zip span {
    background: transparent url(../images/zip-icon.png) 12px 50% no-repeat;
}

#download-tar-gz span {
    background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}

#view-on-github span {
    background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}

#view-on-github {
    width: 200px;
    position: absolute;
    top: -68px;
    left: -200px;
    display: block;
    height: 23px;
    padding: 8px;
}

code, pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
    color: #222;
    margin-bottom: 30px;
    font-size: 14px;
}

code {
    background-color: #f2f2f2;
    border: solid 1px #ddd;
    padding: 0 3px;
}

pre {
    padding: 20px;
    background: #272822;
    color: #f2f2f2;
    text-shadow: none;
    overflow: auto;
}

pre code {
    color: #f2f2f2;
    background-color: #272822;
    border: none;
    padding: 0;
}

ul, ol, dl {
    margin-bottom: 20px;
}

.date {
    font-size: 0.8em;
    color: #81b48b;
}

/* COMMON STYLES */

hr {
    height: 1px;
    line-height: 1px;
    margin-top: 1em;
    padding-bottom: 1em;
    border: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

table {
    width: 100%;
    border: 1px solid #ebebeb;
}

th {
    font-weight: 500;
}

td {
    border: 1px solid #ebebeb;
    text-align: center;
    font-weight: 300;
}

form {
    background: #f2f2f2;
    padding: 20px;

}

/* GENERAL ELEMENT TYPE STYLES */

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #6d6b6e;
    margin-bottom: 8px;
}

h3 {
    color: #6d6b6e;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

h4 {
    font-size: 19px;
    color: #6d6b6e;
    font-weight: bold;
}

h5 {
    font-size: 1em;
    color: #303030;
}

h6 {
    font-size: .8em;
    color: #303030;
}

p {
    font-weight: 300;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

p a {
    font-weight: 400;
}

blockquote {
    margin-bottom: 20px;
}

ul, ol {
    margin-left: 30px;
}

ul li {
    list-style: disc;
}

ol li {
    list-style: decimal;
}

dl dt {
    color: #303030;
}

footer {
    background: transparent url('../images/hr.png') 0 0 no-repeat;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 13px;
    color: #aaa;
}

footer a {
    color: #666;
}

footer a:hover {
    color: #444;
}

/* MISC */
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}

.slideshare-title {
    font-size: 11px !important;
}

.read-more {
    font-size: 15px !important;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

blockquote {
	background-color: white;
  margin: 0 0px 20px;
  padding: 20px 20px 4px 20px;
  border: 1px solid #444;
  font-size: 12pt;
}

blockquote.excerpt {
	margin: 0 -20px 20px;
	background-color: #fff !important;
  border-width: 0px;
}

blockquote strong {
  font-weight: normal;
}

blockquote.excerpt {
	font-family: inherit;
}

blockquote.excerpt a {
  color: inherit;
}
blockquote.excerpt strong {
  color: inherit;
}

#container .full {
  width: 100%;
  text-align: center;
}

#container .full img {
  width: 70%;
  border: 1px solid black;
}

#container .small img {
  max-width: 240px;
  border: 1px solid black;
  float: left;
  margin-right: 10px;
  margin-left: 10px;

  margin-bottom: 20px;
}

#container img.small-right, img.small-left {
  max-width: 200px;
  margin-left: 20px;
  float: right;
  border: 1px solid black;
}

#container img.small-left {
  margin-left: 0px;
  margin-right: 20px;
  float: left;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* LAYOUT STYLES */
    body {
        font-size: 1.5em;
    }
    header {
        padding-top: 10px;
        padding-bottom: 40px;
    }

    #downloads {
        margin-bottom: 25px;
    }

    #download-zip, #download-tar-gz {
        display: none;
    }

    .inner {
        padding-top: 30px;
        width: 94%;
        margin: 0 auto;
    }

    header h1 { font-size: 1.6em;}

    header h2.post-head {
        left: 3%;
    }

    #navbar .nav-container {
        background: #fff url(../images/wanelo_engineering.png) left 0px center no-repeat;
        width: 94%;
        margin: 0 auto;
}

	#view-on-github {
		display: none;
	}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* LAYOUT STYLES */
    body {
        font-size: 2em;
    }
    header h1 {
        font-size: 2.5em;
        line-height: 1em;
    }

    h2 { font-size: 1.5em;}
    h3 { font-size: 1.2em;}

}

#navbar {
	height: 105px;
}

.nav-links {
	padding-top: 50px;
}

#view-on-github {
	display: none;
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}

